*{padding: 0; margin: 0; color: #343434;
    box-sizing: border-box;}
  body{background-color: #fff8ee;}
  ul, ol, li{list-style: none;}
  a{text-decoration: none;}
  
  
  @media(max-width: 599px){
  
  /* header */
  header{width: 100%; height: 13vw;
    background: url("../img/index_img/paper_texture.JPG") repeat;
    position: relative; z-index: 30;}
  
  #header_box{width: 100%; height: 13vw; margin: 0 auto;
              display: flex; justify-content: space-between;
              align-items: center;}
  #small_nav{width: 100%; height: 5vw;
             display: flex; justify-content: space-between;
             align-items: center;}
  #small_nav a, #small_nav a img{width: 7vw; height: 7vw;}

  #small_nav a img{margin-left: 30%;}
  
  #big_nav{position: fixed; top: 13vw; left: 0;
           width: 100%; height: 50%; z-index: 10;
           background: url(../img/index_img/paper_texture.JPG) repeat;
           display: none; box-shadow: 0px 10px 10px rgba(83, 83, 83, 0.3);}
  #big_nav ul{width: 100%; height: 70%; margin: 12% auto;
              display: flex; flex-direction: column;
              justify-content: space-around; align-items: center;}
  
  #big_nav ul li{padding: 0.5vw 0;}
  
  #big_nav ul li a{font-family: "ONE-Mobile-Title"; font-size: 4vw;
                   position: relative; transition: 0.5s;}
  
  #big_nav ul li a::after{position: absolute; top: 100%; left: 0;
                          content: ""; background-color: #343434;
                          width: 100%; height: 2px;
                          transition: transform 0.5s;
                          transform: scaleX(0);
                          transform-origin: right;}
  
  #big_nav li a:hover::after{transform: scaleX(1);
                             transform-origin: left;}
  
  #menuIcon{width: 6vw; height: 6vw;
            margin-right: 1.5%;
            display: flex; flex-direction: column;
            justify-content: center; align-items: center;
            background-color: #343434;
            overflow: hidden;}
  #menuIcon span{width: 70%; height: 0.5vw;
                 border-bottom: 0.5vw solid #fff;
                 transition: all 0.3s ease;}
  #menuIcon span:nth-of-type(2){margin: 15% 0;}
  
  #menuIcon:hover span:first-of-type{margin-left: 100px;
                                     transition: all 0.3s ease;}
  #menuIcon:hover span:last-of-type{margin-left: 100px;
                                    transition: all 0.3s ease;
                                    transition-delay: 0.1s;}
  
  
  
  
  /* footer */
  footer{width: 100%; height: 50vw;
         background-color: #111; 
         position: fixed; bottom: 0;
         z-index: -10;}
  #footer_box{width: 100%; height: 50vw; 
              margin: 0 auto; display: flex;
              flex-direction: column; justify-content: center;
              align-items: center;}

  #footer_box img{width: 10vw;}
  
  #footer_box p{font-family: 'ONE-Mobile-Regular'; color: #fff;
                font-size: 1vw; text-align: center; 
                line-height: 3vw; margin: 4% 0;}
  
  #icons{width: 1vw;
         display: flex; justify-content: center;
         align-items: center;}
  #icons img{margin: 1% 50%; border-radius: 20vw;
             transition: all 0.3s ease;}
  
  .call{background-color: #fed334;}
  .email{background-color: #654fa0;}
  .insta{background-color: #ed1f3e;}
  .face{background-color: #3f68b1;}
  
  .call:hover{background-color: #ed1f3e;}
  .email:hover{background-color: #3f68b1;}
  .insta:hover{background-color: #214095;}
  .face:hover{background-color: #343434;}
  }