@media(max-width: 1199px) and (min-width: 800px){
  
  /* header */
  header{width: 100%; height: 8.3vw;
    background: url("../img/index_img/paper_texture.JPG") repeat;
    position: relative; z-index: 20;}
  
  #header_box{width: 100%; height: 8.3vw; margin: 0 auto;
              display: flex; justify-content: space-between;
              align-items: center;}
  #small_nav{width: 4vw; height: 4vw;}
  #small_nav a, #small_nav a img{width: 4vw; height: 4vw;}

  #small_nav a img{margin-left: 30%;}
  
  #big_nav{width: 50%; height: 8.3vw;}
  #big_nav ul{width: 100%; height: 8.3vw; margin: 0 auto;
              display: flex; justify-content: space-around; align-items: center;}
  
  #big_nav ul li{padding: 1vw 0;}
  
  #big_nav ul li a{font-family: "ONE-Mobile-Title"; font-size: 1.8vw;
                   position: relative; transition: 0.5s;}
  
  #big_nav ul li a::after{position: absolute; top: 100%; left: 0;
                          content: ""; background-color: #343434;
                          width: 100%; height: 2px;
                          transition: transform 0.5s;
                          transform: scaleX(0);
                          transform-origin: right;}
  
  #big_nav li a:hover::after{transform: scaleX(1);
                             transform-origin: left;}
  
  #menuIcon{width: 2.5vw; height: 2.5vw;
            display: flex; flex-direction: column;
            justify-content: center; align-items: center;
            background-color: #343434;
            display: none;}
  #menuIcon span{width: 1.6vw; height: 0.5vw;
            border-bottom: 0.18 solid #fff;}
  #menuIcon span:last-of-type{margin-bottom: 3.5px;}
  
  
  
  
  
  /* footer */
  footer{width: 100%; height: 35vw;
         background-color: #111; 
         position: fixed; bottom: 0;
         z-index: -10;}
  #footer_box{width: 100%; height: 35vw; 
         margin: 0 auto; display: flex;
         flex-direction: column; justify-content: center;
         align-items: center;}

  #footer_box img{width: 8.3vw;}
  
  #footer_box p{font-family: 'ONE-Mobile-Regular'; color: #fff;
                font-size: 1.5vw; text-align: center; 
                line-height: 2.5vw; margin: 1% 0;}
  
  #icons{width: 3vw;
    display: flex; justify-content: center;
    align-items: center;}
  #icons img{margin: 0 20%; border-radius: 3vw;
             transition: all 0.3s ease;}
  
  .call{background-color: #fed334;}
  .email{background-color: #654fa0;}
  .insta{background-color: #ed1f3e;}
  .face{background-color: #3f68b1;}
  
  .call:hover{background-color: #ed1f3e;}
  .email:hover{background-color: #3f68b1;}
  .insta:hover{background-color: #214095;}
  .face:hover{background-color: #343434;}
  }