@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 제목체 */

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 본문체 */

@font-face {
    font-family: '행복고흥L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 행복고흥B */

@media(max-width: 1199px) and (min-width: 700px){

#wrap{width: 100%; height: auto;}



/* slider */
#slider{width: 100%; height: auto;
        background: url("../img/index_img/paper_texture.JPG") repeat;
        padding-bottom: 3vw;}

#slider_box{width: 100%; height: auto; margin: 0 auto;
            display: flex; justify-content: space-around;
            align-items: center; position: relative;
            z-index: 10;}
#slider_text{width: 50%; height: auto;
             display: flex; flex-direction: column;
             justify-content: space-between; align-items: center;}

#slider_text h2{font-family: '행복고흥L'; font-size: 5vw;
                line-height: 5.8vw; text-align: center;}
#slider_text h2:last-of-type{margin-top: 5%;}
#slider_text span{font-size: 8vw;}





/* button design */
.button{width: 13.5vw; height: 5.5vw;
        text-align: center; background: none;
        border: none; padding: 10px 15px; 
        position: relative;}

.button a{width: 12vw; height: 4vw;
          font-family: "ONE-Mobile-Title"; font-size: 1.5vw;
          border: 2px solid #343434;
          background: #f6f3e5; padding: 10px 15px;
          position: absolute; top: 50%; left: 50%;  z-index: 2;
          transform: translate(-50%, -50%);}

.button .horizontal{width: 100%; height: 4vw;
                    border: 2px solid #343434;
                    background: none;
                    position: absolute;
                    top: 0.75vw; left: 0; 
                    transform: scaleY(1);
                    transition: all 0.8s ease;}
.button .vertical{width: 12vw; height: 5.5vw;
                  background: none;
                  border: 2px solid #343434;
                  position: absolute;
                  top: 0; left: 0.75vw; 
                  transform: scaleX(1);
                  transition: all 0.8s ease;}

.button:hover a{background-color: #343434; color: #fff;
                transition: all 0.8s ease;}
.button:hover .horizontal{transform: scaleY(0);
                          border-top:none; border-bottom: none;
                          transition: all 0.8s ease;}
.button:hover .vertical{transform: scaleX(0);
                        border-left: none; border-right: none;
                        transform: all 0.8s ease;}


#slider_img{width: 50%; height: auto;}
#slider_img img{width: auto; height: 25vw;
                display: block; margin: 1.6vw auto 1.6vw;
                animation: 3s infinite alternate floating;}
.shadow{height: 0.25vw; display: block;
        margin: 1.25px auto;
        animation: 3s infinite alternate shadow;}




/* float shadow animation */
@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

@keyframes shadow{
    0%{width: 18vw; 
       box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
    50%{width: 16vw;
        box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.5);}
    100%{width: 18vw;
         box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
} 




/* gallery */
#gallery{width: 100%; height: auto;
         background: url("../img/index_img/paper_texture.JPG") repeat;}
#gallery_box{width: 95%; height: auto; margin: 0 auto;
             padding-top: 4.1vw;}

#gallery_img{width: 100; height: 95%;
             margin: 0 auto; 
             display: flex; flex-wrap: wrap;}

.container{width: 31vw; height: 31vw;
           position: relative; z-index: 1;}

.container > img{width: 100%;}

.overlay{width: 90%; height: 90%;
         position: absolute; top: 1.6vw; left: 1.6vw;
         background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);
         transform: scale(0); transition: all 0.5s ease;}

.overlay > img:first-of-type{width: 3vw; height: 3vw; 
                             background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.5);
                             border-radius: 5vw;
                             position: absolute;
                             top: 50%; left: 50%; z-index: 10;
                             transform: translate(-50%, -50%);
                             transition: all 0.5s ease;}

.container:hover .zoom{animation: .3s alternate ease infinite bounceUp;}

.overlay > img:last-of-type{width: 100%; height: 100%;
                            position: absolute; top: 0; left: 0;
                            z-index: 2; transform: scale(0);
                            transition: all 0.5s ease;}

.container:hover .overlay,
.container:hover .overlay > img:last-of-type{transform: scale(1); transition: all 0.3s ease;}

@keyframes bounceUp{
    from{transform: translate(-50%, -50%);}
    to{transform: translate(-50%, -65%);}
}




/* popup */
#popup{width: 100%; height: 100%;
       position: fixed; top: 0; left: 0;
       z-index: 30;
       background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.8);
       display: none;}

.close{background: rgba(255, 255, 255, 0.5);
       position: absolute; top: 3%; right: 3%;}

#slide_img{width: 45vw; height: 50vw;
           position: relative;
           margin: 10% auto;}

#slide_img > img{width: 100%;
                 position: absolute;
                 top: 50%; left: 50%;
                 transform: translate(-50%, -35%);}



#rows_img{width: 112vw; height: 10vw;
          display: flex;
          margin: 5%;}

.rows{width: 10vw; height: 10vw;
      position: relative;}

.rows > img{width: 10vw;}

.noClick{width: 100%; height: 100%;
         position: absolute; background: rgba(0, 0, 0, 0.5);}

.noClick:hover, #rows_img .rows .active{opacity: 0;}




/* slogan */
#slogan{width: 100%; height: auto;
        padding: 5% 0;
        background: url("../img/index_img/paper_texture.JPG") repeat;}
#slogan_box{width: 100%; height: auto; 
            margin: 0 auto;}

#slogan_img{width: 25vw; height: 8.3vw;
            margin: 3% auto;}

#slogan_box p{font-family: 'ONE-Mobile-Regular';
              font-size: 1.8vw; margin: 1% 0;
              text-align: center;}




/* contact */
#contact{width: 100%; height: 41vw;
         background: url("../img/index_img/paper_texture.JPG") repeat;}
#contact_box{width: 95%; height: 41vw;
             margin: 0 auto; position: relative;
             z-index: 10;}

#contact_box img{width: 70%;
                 position: absolute; top: 50%; left: 0;
                 transform: translateY(-50%);}

#contact_info{width: 0px; height: 30vw;
              border: 1.25vw solid #fff8ee;
              background-color: #f6f3e2;
              box-shadow: inset 0px 0px 1.25vw #b09f8c;
              position: absolute; top: 50%; left: 50%;
              transform: translateY(-50%); 
              transition: all 0.5s ease; overflow-x: hidden;
              display: flex; flex-direction: column;
              justify-content: center; align-items: center;}

#contact_info h2{width: 100%;
                 font-family: 'ONE-Mobile-Title'; 
                 font-size: 3.3vw; text-align: center;}
#contact_info p{width: 100%; height: 6vw; 
                font-family: 'ONE-Mobile-Regular'; 
                font-size: 1.6vw; text-align: center; 
                line-height: 3vw; margin: 3% 0;}

#contact_info .button a{background-color: #f6f3e2;}
#contact_info .button:hover a{background-color: #343434;}




/* campaign */
#campaign{width: 100%; height: 41vw;
          background: url("../img/index_img/paper_texture.JPG") repeat;}
#campaign_box{width: 95%; height: 41vw;
              margin: 0 auto; position: relative;}

#campaign_info{width: 0px; height: 32vw;
               border: 1.25vw solid #fff8ee;
               background-color: #f6f3e2;
               box-shadow: inset 0px 0px 1.25vw #b09f8c;
               position: absolute; top: 50%; left: 0;
               z-index: 1; transform: translateY(-50%);
               transition: all 0.5s ease; overflow: hidden;
               display: flex; flex-direction: column;
               justify-content: center; align-items: center;}

#campaign_info h2{width: 100%;
                  font-family: 'ONE-Mobile-Title'; 
                  font-size: 3.3vw; text-align: center;}

#campaign_info p{width: 100%; height: 6vw;
                 font-family: 'ONE-Mobile-Regular'; 
                 font-size: 1.4vw; text-align: center; 
                 line-height: 3vw;
                 margin: 3% 0;}

#campaign_info .button a{background-color: #f6f3e2;}

#campaign_info .button:hover a{background-color: #343434;}

#campaign_box img{width: 60%;
                  position:absolute; top: 50%; right: 0;
                  transform: translateY(-50%);}




/* sponsor */
#sponsor{width: 100%; height: 33vw;
         margin-bottom: 420px; 
         background: url("../img/index_img/paper_texture.JPG") repeat;}
#sponsor_box{width: 90%; height: auto; 
             margin: 0 auto; position: relative;
             z-index: 10;}

#slideWrap{width: 100%; height: 90%; 
           margin: 0 auto; overflow: hidden;}
#slide{width: 135.5vw; height: 14.5vw;
       padding-top: 8%;}

.slideImg{width: 22.5vw; height: 14.5vw;
          position: relative; float: left;}
.slideImg img{width: 100%;
              position: absolute;}

.color{display: none;}





/* flower decoration */
#flower1{width: 25vw; position: absolute;
         top: 20vw; left: -1%;
         opacity: 0.8;
         transform: rotate(-1deg);}
#flower2{width: 25vw; position: absolute;
         top: -60px; right: -1%;
         opacity: 0.8;
         transform: rotate(10deg);}
#flower3{width: 450px; position: absolute;
         top: 900px; right: 0;
         opacity: 0.8;}
#flower4{width: 450px; position: absolute;
         top: 2000px; right: 0;
         opacity: 0.8;}
#flower5{width: 490px; position: absolute;
         top: 1750px; left: -1%;
         transform: rotate(20deg);
         opacity: 0.8;}
#flower6{width: 450px; position: absolute;
         top: 2950px; left: 0;
         transform: rotate(15deg);
         opacity: 0.8;}


}