@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 제목체 */

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 본문체 */

@font-face {
    font-family: '행복고흥L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 행복고흥L */

@media(min-width: 1201px){

#wrap{width: 100%; height: auto;}



/* slider */
#slider{width: 100%; height: 560px;
        background: url("../img/index_img/paper_texture.JPG") repeat;}

#slider_box{width: 1200px; height: 560px; margin: 0 auto;
            display: flex; justify-content: space-around;
            align-items: center; position: relative;
            z-index: 10;}
#slider_text{width: 500px; height: 380px;
             display: flex; flex-direction: column;
             justify-content: space-between; align-items: center;}

#slider_text h2{font-family: '행복고흥L'; font-size: 60px;
                line-height: 70px; text-align: center;}
#slider_text h2:last-of-type{margin-top: 5%;}
#slider_text span{font-size: 100px;}





/* button design */
.button{width: 145px; height: 60px;
        text-align: center; background: none;
        border: none; padding: 10px 15px; 
        position: relative;}

.button a{width: 129px; height: 44px;
          font-family: "ONE-Mobile-Title"; font-size: 18px;
          border: 2px solid #343434;
          background: #f6f3e5; padding: 10px 15px;
          position: absolute; top: 50%; left: 50%;  z-index: 2;
          transform: translate(-50%, -50%);}

.button .horizontal{width: 100%; height: 44px;
                    border: 2px solid #343434;
                    background: none;
                    position: absolute;
                    top: 8px; left: 0; 
                    transform: scaleY(1);
                    transition: all 0.8s ease;}
.button .vertical{width: 129px; height: 60px;
                  background: none;
                  border: 2px solid #343434;
                  position: absolute;
                  top: 0; left: 8px; 
                  transform: scaleX(1);
                  transition: all 0.8s ease;}

.button:hover a{background-color: #343434; color: #fff;
                transition: all 0.8s ease;}
.button:hover .horizontal{transform: scaleY(0);
                          border-top:none; border-bottom: none;
                          transition: all 0.8s ease;}
.button:hover .vertical{transform: scaleX(0);
                        border-left: none; border-right: none;
                        transform: all 0.8s ease;}


#slider_img{width: 320px; height: 400px;}
#slider_img img{width: auto; height: 308px;
                display: block; margin: 20px auto 20px;
                animation: 3s infinite alternate floating;}
.shadow{height: 3px; display: block;
        margin: 15px auto;
        animation: 3s infinite alternate shadow;}




/* float shadow animation */
@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

@keyframes shadow{
    0%{width: 220px; 
       box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
    50%{width: 200px;
        box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.5);}
    100%{width: 220px;
         box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
} 




/* gallery */
#gallery{width: 100%; height: 1250px;
         background: url("../img/index_img/paper_texture.JPG") repeat;}
#gallery_box{width: 1200px; height: 1250px; margin: 0 auto;
             padding-top: 50px;}

#gallery_img{width: 1200px; height: 1200px;
             display: flex; flex-wrap: wrap;}

.container{width: 400px; height: 400px;
           position: relative; z-index: 1;
           cursor: pointer;}

.overlay{width: 90%; height: 90%;
         position: absolute; top: 20px; left: 20px;
         background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);
         transform: scale(0); transition: all 0.5s ease;}

.overlay > img:first-of-type{width: 30px; height: 30px; 
                             background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.5);
                             border-radius: 60px;
                             position: absolute;
                             top: 50%; left: 50%; z-index: 10;
                             transform: translate(-50%, -50%);
                             transition: all 0.5s ease;}

.container:hover .zoom{animation: .3s alternate ease infinite bounceUp;}

.overlay > img:last-of-type{width: 100%; height: 100%;
                            position: absolute; top: 0; left: 0;
                            z-index: 2; transform: scale(0);
                            transition: all 0.5s ease;}

.container:hover .overlay,
.container:hover .overlay > img:last-of-type{transform: scale(1); transition: all 0.3s ease;}

@keyframes bounceUp{
    from{transform: translate(-50%, -50%);}
    to{transform: translate(-50%, -65%);}
}




/* popup */
#popup{width: 100%; height: 100%;
       position: fixed; top: 0; left: 0;
       z-index: 30;
       background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.8);
       display: none;}

.close{background: rgba(255, 255, 255, 0.3);
       position: absolute; top: 3%; right: 3%;
       cursor: pointer;}

.close:hover{background: rgba(255, 255, 255, 0.5);
             transition: all 0.5s ease;}

#slide_img{width: 900px; height: 650px;
           position: relative;
           margin: 2% auto;}

#slide_img > img{position: absolute;
                 top: 50%; left: 50%;
                 transform: translate(-50%, -50%);}


#rows_img{width: 1350px; height: 150px;
          margin: 0 auto;
          display: flex; cursor: pointer;}

.rows{width: 150px; height: 150px;
      position: relative; }

.noClick{width: 100%; height: 100%;
         position: absolute; background: rgba(0, 0, 0, 0.5);}

.noClick:hover, #rows_img .rows .active{opacity: 0;}




/* slogan */
#slogan{width: 100%; height: 350px;
        padding: 5% 0;
        background: url("../img/index_img/paper_texture.JPG") repeat;}
#slogan_box{width: 1200px; height: 200px; 
            margin: 0 auto;}

#slogan_img{width: 300px; height: 100px;
            margin: 0 auto;}

#slogan_box p{font-family: 'ONE-Mobile-Regular';
              font-size: 18px; margin: 1% 0;
              text-align: center;}




/* contact */
#contact{width: 100%; height: 500px;
         background: url("../img/index_img/paper_texture.JPG") repeat;}
#contact_box{width: 1200px; height: 500px;
             margin: 0 auto; position: relative;
             z-index: 10;}

#contact_box img{position: absolute; top: 50%; left: 0;
                 transform: translateY(-50%);}

#contact_info{width: 0px; height: 300px;
              border: 15px solid #fff8ee;
              background-color: #f6f3e2;
              box-shadow: inset 0px 0px 15px #b09f8c;
              position: absolute; top: 50%; left: 50%;
              transform: translateY(-50%); 
              transition: all 0.5s ease; overflow-x: hidden;
              display: flex; flex-direction: column;
              justify-content: center; align-items: center;}

#contact_info h2{width: 100%;
                 font-family: 'ONE-Mobile-Title'; 
                 font-size: 40px; text-align: center;
                 opacity: 0; transition: all 0.3s ease;}
#contact_info p{width: 100%; height: 60px; 
                font-family: 'ONE-Mobile-Regular'; 
                font-size: 18px; text-align: center; 
                line-height: 30px; margin: 3% 0;
                opacity: 0; transition: all 0.3s ease;}

#contact_info .button{opacity: 0; transition: all 0.3s ease;}

#contact_info .button a{background-color: #f6f3e2;}
#contact_info .button:hover a{background-color: #343434;}




/* campaign */
#campaign{width: 100%; height: 650px;
          background: url("../img/index_img/paper_texture.JPG") repeat;
          margin-bottom: 420px; }
#campaign_box{width: 1200px; height: 500px;
              margin: 0 auto; position: relative;}

#campaign_info{width: 0px; height: 350px;
               border: 15px solid #fff8ee;
               background-color: #f6f3e2;
               box-shadow: inset 0px 0px 15px #b09f8c;
               position: absolute; top: 50%; left: 0;
               z-index: 1; transform: translateY(-50%);
               transition: all 0.5s ease; overflow: hidden;
               display: flex; flex-direction: column;
               justify-content: center; align-items: center;}

#campaign_info h2{width: 100%;
                  font-family: 'ONE-Mobile-Title'; 
                  font-size: 40px; text-align: center;
                  opacity: 0; transition: all 0.3s ease;}

#campaign_info p{width: 100%; height: 80px;
                 font-family: 'ONE-Mobile-Regular'; 
                 font-size: 18px; text-align: center; 
                 line-height: 30px;
                 margin: 3% 0; opacity: 0;
                 transition: all 0.3s ease;}
                
#campaign_info .button{opacity: 0; transition: all 0.3s ease;}

#campaign_info .button a{background-color: #f6f3e2;}

#campaign_info .button:hover a{background-color: #343434;}

#campaign_box img{position:absolute; top: 50%; right: 0;
                  transform: translateY(-50%);}




/* flower decoration */
#flower1{width: 23vw; position: absolute;
         top: 300px; left: -1%;
         opacity: 0.8;
         transform: rotate(-1deg);}
#flower2{width: 25vw; position: absolute;
         top: -60px; right: -1%;
         opacity: 0.8;
         transform: rotate(10deg);}
#flower3{width: 450px; position: absolute;
         top: 900px; right: 0;
         opacity: 0.8;}
#flower4{width: 450px; position: absolute;
         top: 2000px; right: 0;
         opacity: 0.8;}
#flower5{width: 490px; position: absolute;
         top: 1750px; left: -1%;
         transform: rotate(20deg);
         opacity: 0.8;}
#flower6{width: 450px; position: absolute;
         top: 2890px; left: 0;
         transform: rotate(15deg);
         opacity: 0.8;}


}