@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 제목체 */

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 원스토어 모바일고딕 본문체 */

@font-face {
    font-family: '행복고흥L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 행복고흥B */



#wrap{width: 100%; height: auto;}



/* header */
header{width: 100%; height: 100px;}

#header_box{width: 1200px; height: 100px; margin: 0 auto;
            display: flex; justify-content: space-between;
            align-items: center;}
#small_nav{width: 50px; height: 50px;}
#small_nav a, #small_nav a img{width: 50px; height: 50px;}

#big_nav{width: 50%; height: 100px;}
#big_nav ul{width: 100%; height: 100px; margin: 0 auto;
            display: flex; justify-content: space-around; align-items: center;}
#big_nav ul li a{font-family: "ONE-Mobile-Title"; font-size: 18px;}

#menuIcon{width: 30px; height: 30px;
          display: flex; flex-direction: column;
          justify-content: center; align-items: center;
          background-color: #343434;}
#menuIcon span{width: 20px; height: 6px;
               border-bottom: 2px solid #fff;}
#menuIcon span:last-of-type{margin-bottom: 3.5px;}





/* slider */
#slider{width: 100%; height: 560px;}

#slider_box{width: 1200px; height: 560px; margin: 0 auto;
            display: flex; justify-content: space-around;
            align-items: center;}
#slider_text{width: 500px; height: 380px;
             display: flex; flex-direction: column;
             justify-content: space-between; align-items: center;}

#slider_text h2{font-family: '행복고흥L'; font-size: 60px;
                line-height: 70px; text-align: center;}
#slider_text h2:last-of-type{margin-top: 5%;}
#slider_text span{font-size: 100px;}





/* button design */
.button{width: 145px; height: 60px;
        text-align: center; background: none;
        border: none; padding: 10px 15px; 
        position: relative;}

.button a{width: 129px; height: 44px;
          font-family: "ONE-Mobile-Title"; font-size: 18px;
          border: 2px solid #343434;
          background: #fff8ee; padding: 10px 15px;
          position: absolute; top: 50%; left: 50%;  z-index: 2;
          transform: translate(-50%, -50%);}

.button .horizontal{width: 100%; height: 44px;
                    border: 2px solid #343434;
                    background: none;
                    position: absolute;
                    top: 8px; left: 0; 
                    transform: scaleY(1);
                    transition: all 0.8s ease;}
.button .vertical{width: 129px; height: 60px;
                  background: none;
                  border: 2px solid #343434;
                  position: absolute;
                  top: 0; left: 8px; 
                  transform: scaleX(1);
                  transition: all 0.8s ease;}

.button:hover a{background-color: #343434; color: #fff;
                transition: all 0.8s ease;}
.button:hover .horizontal{transform: scaleY(0);
                          border-top:none; border-bottom: none;
                          transition: all 0.8s ease;}
.button:hover .vertical{transform: scaleX(0);
                        border-left: none; border-right: none;
                        transform: all 0.8s ease;}


#slider_img{width: 320px; height: 400px;}
#slider_img img{width: auto; height: 308px;
                display: block; margin: 20px auto 20px;
                animation: 3s infinite alternate floating;}
.shadow{height: 3px; display: block;
        margin: 15px auto;
        animation: 3s infinite alternate shadow;}




/* float shadow animation */
@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

@keyframes shadow{
    0%{width: 220px; 
       box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
    50%{width: 200px;
        box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.5);}
    100%{width: 220px;
         box-shadow: 0px 15px 8px rgba(0, 0, 0, 0.8);}
} 




/* gallery */
#gallery{width: 100%; height: 1250px;}
#gallery_box{width: 1200px; height: 1250px; margin: 0 auto;
             padding-top: 50px;}

#gallery_img{width: 1200px; height: 1200px;
             display: flex; flex-wrap: wrap;}

.container{width: 400px; height: 400px;
           position: relative;}

.overlay{width: 90%; height: 90%;
         position: absolute; top: 20px; left: 20px;
         background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);
         transform: scale(0); transition: all 0.5s ease;}

.overlay > img:first-of-type{width: 30px; height: 30px; 
                             background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.5);
                             border-radius: 60px;
                             position: absolute;
                             top: 50%; left: 50%; z-index: 10;
                             transform: translate(-50%, -50%);
                             transition: all 0.5s ease;}

.container:hover .zoom{animation: .3s alternate ease infinite bounceUp;}

.overlay > img:last-of-type{width: 100%; height: 100%;
                            position: absolute; top: 0; left: 0;
                            z-index: 2; transform: scale(0);
                            transition: all 0.5s ease;}

.container:hover .overlay,
.container:hover .overlay > img:last-of-type{transform: scale(1); transition: all 0.3s ease;}

@keyframes bounceUp{
    from{transform: translate(-50%, -50%);}
    to{transform: translate(-50%, -65%);}
}




/* popup */
#popup{width: 100%; height: 100%;
       position: fixed; top: 0; left: 0;
       background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.8);
       display: none;}

.close{background: rgba(255, 255, 255, 0.5);
       position: absolute; top: 3%; right: 3%;}

#slide_img{width: 900px; height: 650px;
           position: relative;
           margin: 2% auto;}

#slide_img > img{position: absolute;
                 top: 50%; left: 50%;
                 transform: translate(-50%, -50%);}
#slide_img > img:not(:first-of-type){display: none;}


#rows_img{width: 1350px; height: 150px;
          margin: 0 auto;
          display: flex;}

.rows{width: 150px; height: 150px;
      position: relative;}

.noClick{width: 100%; height: 100%;
         position: absolute; background: rgba(0, 0, 0, 0.5);}

.noClick:hover, #rows_img .rows .active{opacity: 0;}




/* slogan */
#slogan{width: 100%; height: 200px;
        margin: 5% 0;}
#slogan_box{width: 1200px; height: 200px; 
            margin: 0 auto;}

#slogan_img{width: 300px; height: 100px;
            margin: 3% auto;}
#slogan_img{width: 300px; height: 100px;}

#slogan_box p{font-family: 'ONE-Mobile-Regular';
              font-size: 18px; margin: 1% 0;
              text-align: center;}




/* contact */
#contact{width: 100%; height: 500px}
#contact_box{width: 1200px; height: 500px;
             margin: 0 auto; position: relative;}

#contact_box img{position: absolute; top: 50%; left: 0;
                 transform: translateY(-50%);}

#contact_info{width: 580px; height: 350px;
              background-color: #fff8ee;
              position: absolute; top: 50%; right: 0;
              transform: translateY(-50%);
              display: flex; flex-direction: column;
              justify-content: space-around; align-items: center;}

#contact_info h2{font-family: 'ONE-Mobile-Title'; font-size: 40px;
                 text-align: center;}
#contact_info p{font-family: 'ONE-Mobile-Regular'; font-size: 18px;
                text-align: center; line-height: 30px;}




/* campaign */
#campaign{width: 100%; height: 500px;}
#campaign_box{width: 1200px; height: 500px;
              margin: 0 auto; position: relative;}

#campaign_info{width: 700px; height: 350px;
               background-color: #fff8ee;
               position: absolute; top: 50%; left: 0;
               z-index: 1; transform: translateY(-50%);
               display: flex; flex-direction: column;
               justify-content: space-around; align-items: center;}

#campaign_info h2{font-family: 'ONE-Mobile-Title'; font-size: 40px;
                  text-align: center;}

#campaign_info p{font-family: 'ONE-Mobile-Regular'; font-size: 18px;
                text-align: center; line-height: 30px;}

#campaign_box img{position:absolute; top: 50%; right: 0;
                  transform: translateY(-50%);}




/* sponsor */
#sponsor{width: 100%; height: 310px;}
#sponsor_box{width: 1200px; height: 310px; margin: 0 auto;}

#slideWrap{width: 100%; height: 90%; margin: 0 auto;
           overflow: hidden;}
#slide{width: 1440px; height: 200px;
       margin-top: 8%;}

.slideImg{width: 240px; height: 155px;
          position: relative; float: left;}
.slideImg img{position: absolute;}

.color{display: none;}
